@model Parcial1.Models.ConfiguracionNotificacion

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ConfiguracionNotificacion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoNotificacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoNotificacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventoNotificacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventoNotificacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlantillaMensaje)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlantillaMensaje)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Destinatarios)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Destinatarios)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaModificacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaModificacion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdConfiguracionNotificacion">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
