@model Parcial1.Models.ConfiguracionPromocion

@{
    ViewData["Title"] = "Delete";
}


<<h1 class="text-danger">Eliminar</h1>
<h3 class="text-danger">¿Estás seguro de que quieres eliminar esto?</h3>
<div>
    <h4 class="text-danger">Configuracion de Promocion </h4>
</div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoDescuento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoDescuento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorDescuento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorDescuento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequisitosAplicacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequisitosAplicacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaModificacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaModificacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPromocionNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPromocionNavigation.IdPromocion)
        </dd>
    </dl>

<form asp-action="Delete">
    <input type="hidden" asp-for="IdConfiguracionPromocion" />
    <input type="submit" value="Eliminar" class="btn btn-danger" /> |
    <a asp-action="Index" class="btn btn-secondary">Regresar</a>
</form>
</div>
