@model Parcial1.Models.ConfiguracionJuego

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ConfiguracionJuego</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTipoJuego)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTipoJuego)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadBolas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadBolas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatronesGanadores)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatronesGanadores)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PremioMayor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PremioMayor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PremiosMenores)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PremiosMenores)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaModificacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaModificacion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdConfiguracionJuego">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
